<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cu.phibrain.cardinal.app">

    <application
        android:name=".CardinalApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/GeopapTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme,android:label,android:name,android:icon">
        <activity
            android:name=".ui.activities.SessionsStatsActivity"
            android:label="@string/stats_session_view_label"
            android:parentActivityName=".MapviewActivity"
            android:theme="@style/GeopapTheme.NoActionBar" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".ui.activities.MapObjectDefectImageGalleryActivity"
            android:label="@string/activity_defect_images_label"
            android:parentActivityName=".MapviewActivity"
            android:theme="@style/GeopapTheme.NoActionBar" />
        <activity android:name=".ui.activities.CameraMapObjectActivity" />
        <activity android:name=".ui.activities.CameraMapObjectDefectActivity" />
        <activity
            android:name=".ui.activities.WorkSessionListActivity"
            android:label="@string/work_session_view_label"
            android:parentActivityName=".CardinalActivity"
            android:theme="@style/GeopapTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cu.phibrain.cardinal.app.CardinalActivity" />
            >
        </activity>
        <activity
            android:name=".CardinalActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/GeopapTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:pathPattern=".*\\.gpap" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.openstreetmap.org"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.osm.org"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapviewActivity"
            android:theme="@style/GeopapTheme.NoActionBar" />
        <activity
            android:name=".ui.map.CardinalMapLayerListActivity"
            android:label="Layers View"
            android:parentActivityName=".MapviewActivity"
            android:theme="@style/GeopapTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cu.phibrain.cardinal.app.MapviewActivity" />
        </activity>

        <provider
            android:name="eu.geopaparazzi.core.providers.ProfilesContentProvider"
            android:authorities="eu.geopaparazzi.provider.profiles"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.library.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
    <!-- NORMAL PERMISSIONS -->
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-permission -->
    <!-- android:name="android.permission.ACCESS_MOCK_LOCATION" -->
    <!-- tools:ignore="MockLocation" /> -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

</manifest>
