<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cu.phibrain.cardinal.app">
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!--  NORMAL PERMISSIONS     -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".CardinalApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/GeopapTheme"
        tools:replace="android:theme,android:label,android:name"
        android:usesCleartextTraffic="true"
        >
        <activity
            android:name="cu.phibrain.cardinal.app.CardinalActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/GeopapTheme.NoActionBar">
            <intent-filter>
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.gpap" />
                <data android:scheme="file" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="www.openstreetmap.org"
                    android:scheme="http" />

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="www.osm.org"
                    android:scheme="http" />

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="cu.phibrain.cardinal.app.MapviewActivity"
            android:theme="@style/GeopapTheme.NoActionBar" />

        <activity
            android:name=".ui.map.CardinalMapLayerListActivity"
            android:label="Layers View"
            android:parentActivityName="cu.phibrain.cardinal.app.MapviewActivity"
            android:theme="@style/GeopapTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cu.phibrain.cardinal.app.MapviewActivity" />
        </activity>
        <provider
            android:name="eu.geopaparazzi.core.providers.ProfilesContentProvider"
            android:authorities="eu.geopaparazzi.provider.profiles"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.library.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>


</manifest>
